.main {
    border: 2px solid black;
    position: relative;
}

#header {
    border: 1px solid black;
    color: white;
    padding: 10px;
    height: 100px;
    text-align: center;
    background-color: purple;
}

#navigation-links {
    height: 50px;
    text-align: center;
    border: 1px solid black;
}

#main-body {
    height: 700px;
    text-align: center;
}
#main-content{
    height: 690px;
    border: 1px solid black;
    width: 600px
}
#main-content,
#other-haf {
    border: 1px solid black;
    float:  left;
}

#other-haf {
    height: 690px;
    width: 400px;
    float: right;
}

#picture, #about-us{
    float: right;
    padding: 10px;
}

#picture{
    border: 1px solid black;
    padding: 10px;
    height: 210px;
    width: 170px;
    text-align: center;
    float: left;
}
#about-us{
    border: 1px solid black;
    padding: 10px;
    height: 210px;
    width: 180px;
    text-align: center;
}
#bottom-half{
    float: right;
    bottom: 10px;
}
#tweet{
    border: 1px solid black;
    padding: 10px;
    height: 430px;
    width: 370px;
    text-align: center;
}
#footer {
    border: 1px solid black;
    background-color: purple;
    padding: 10px;
    height: 100px;
    text-align: center;
    color: white;
}
